<div class="form myForm" [ngClass]="formStatus">
  <h2 id="registration">Registration Form</h2>
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <div formGroupName="persDetails">

    <label for="fname">First Name:</label>
    <input type="text" id="fname" placeholder="Your name.." formControlName="firstname">
    <div>
      <small *ngIf="reactiveForm.get('persDetails.firstname').errors?.['required']"> <!--this 'required' is an error code-->
        First Name is a required field...</small>
      <small *ngIf="reactiveForm.get('persDetails.firstname').errors?.['noSpaceAllowed']"><!--this 'noSpaceAllowed' is an error code-->
        First Name cannot contain space...</small>
    </div>

    <label for="lname">Last Name:</label>
    <input type="text" id="lname" placeholder="Your last name.." formControlName="lastname">

    <label for="email">Email:</label>
    <input type="email" id="email" placeholder="Your email.." formControlName="email">

    </div>
    <div>
      <small style="color: red;" 
      *ngIf="!reactiveForm.get('persDetails.email').valid && reactiveForm.get('persDetails.email').touched">Wrong email ID...</small>
    </div>

    <label for="country">Country:</label>
    <select id="country" formControlName="country">
      <option value="india">India</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>

    <label for="gender">Gender:</label>
    <input type="radio" id="male" value="male" formControlName="gender">
    <label for="male">Male</label>
    <input type="radio" id="female" value="female" formControlName="gender">
    <label for="female">Female</label>
    <input type="radio" id="other" value="other" formControlName="gender">
    <label for="other">Other</label>

    <br><br>

    <label>Hobbies (optional)</label>
    <div class="form_inline">
      <label><input type="checkbox" value="sports" checked formControlName="hobbies">Sports</label>
      <label><input type="checkbox" value="movies" formControlName="hobbies">Movies</label>
      <label><input type="checkbox" value="music" checked formControlName="hobbies">Music</label>
    </div>

    <br>

    <div formArrayName="skills"> 
      <ng-container *ngFor="let skill of reactiveForm.get('skills')['controls']; index as i">
        <input type="text" placeholder="add skill.." formControlName="{{i}}">
      </ng-container> 
      <button (click)="addSkills()">+ Add Skills</button>    
    </div>

    <input type="submit" value="Submit" id="btn">
  </form>
</div>